<a href="https://colab.research.google.com/github/RMLAI/AIPND-Exercises/blob/master/Intro_to_Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
ls

Advertising.csv     dog-photo.png        Khan_ytest.csv
Auto.csv            Heart.csv            Khan_ytrain.csv
Boston.csv          heart-disease.csv    NCI60_X.csv
Caravan.csv         Hitters.csv          NCI60_y.csv
car-photo.png       Hitters_X_test.csv   panda.png
car-sales.csv       Hitters_X_train.csv  random_forest_model_1.pkl
Carseats.csv        Hitters_y_test.csv   Smarket.csv
covid_19_india.csv  Hitters_y_train.csv  USArrests.csv
Credit.csv          Khan_xtest.csv       Wage.csv
Default.xlsx        Khan_xtrain.csv

This notebook Demos the power of scikit learn


*   Getting data ready

*   Choose right algorithm for problem

*   Fit model/algorithm for data , make predictions
*   Evaluate and improve model


*   Load trained model


*   Put it all together

In [6]:
#import necesseary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
#Getting the data ready
heart_disease=pd.read_csv('heart-disease.csv')
heart_disease.head(10)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1
5   57    1   0       140   192    0  ...      0      0.4      1   0     1       1
6   56    0   1       140   294    0  ...      0      1.3      1   0     2       1
7   44    1   1       120   263    0  ...      0      0.0      2   0     3       1
8   52    1   2       172   199    1  ...      0      0.5      2   0     3       1
9   57    1   2       150   168    0  ...      0      1.6      2   0     2       1

[10 rows x 14 columns]

In [0]:
# Creating the predictor variable and target variable matrix
X=heart_disease.drop('target',axis=1)
y=heart_disease['target']

In [16]:
#checkinng the shape of the predictor and target variables
X.shape,y.shape

((303, 13), (303,))

#2 Choosing the right model and hyperparameters

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#checking the default parameters
clf.get_params

<bound method BaseEstimator.get_params of RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)>

In [0]:
#3 Assigining observations to testing and training datasets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [0]:
#fitting the data to the model
clf.fit(X_train,y_train);

In [0]:
#make predictions
y_preds = clf.predict(X_test)

In [19]:
#Actual vs predictions
Check=pd.DataFrame({'Actual':y_test,'Prediction':y_preds})
Check.head(25)

ERROR! Session/line number was not unique in

     Actual  Prediction
225       0           0
152       1           1
228       0           1
201       0           0
52        1           0
245       0           1
175       0           0
168       0           0
223       0           0
217       0           0
111       1           1
135       1           1
218       0           0
12        1           1
15        1           1
66        1           1
97        1           0
90        1           1
198       0           0
103       1           1
22        1           1
212       0           0
226       0           0
264       0           0
133       1           1

database. History logging moved to new session 60

In [20]:
clf.score(X_train,y_train)

1.0

In [21]:
clf.score(X_test,y_test)

0.8688524590163934

In [22]:
# import and test the accuracy metrics ofthe model
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.88      0.81      0.85        27
           1       0.86      0.91      0.89        34

    accuracy                           0.87        61
   macro avg       0.87      0.86      0.87        61
weighted avg       0.87      0.87      0.87        61

In [23]:
print(confusion_matrix(y_test,y_preds))

[[22  5]
 [ 3 31]]

In [25]:
print('accuracy:%.2f' %accuracy_score(y_test,y_preds))

accuracy:0.87
ERROR! Session/line number was not unique in database. History logging moved to new session 62

In [35]:
# Improve the model
# Trying different n_estimators
np.random.seed(42)
for i in range(10,100,10):
  print(f'Trying model with {i} estimators')
  clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
  print(f'Model accuracy on test set:{clf.score(X_test,y_test)*100:.2f}%')
  print(' ')

Trying model with 10 estimators
Model accuracy on test set:81.97%

Trying model with 20 estimators
Model accuracy on test set:80.33%

Trying model with 30 estimators
Model accuracy on test set:81.97%

Trying model with 40 estimators
Model accuracy on test set:85.25%

Trying model with 50 estimators
Model accuracy on test set:90.16%

Trying model with 60 estimators
Model accuracy on test set:83.61%

Trying model with 70 estimators
Model accuracy on test set:83.61%

Trying model with 80 estimators
Model accuracy on test set:88.52%

Trying model with 90 estimators
Model accuracy on test set:86.89%

In [0]:
#saving a model
import pickle
pickle.dump(clf,open('random_forest_model_1.pkl','wb'))

In [42]:
#loading the model
loaded_model = pickle.load(open('random_forest_model_1.pkl','rb'))
print(f'loaded model acccuracy:{loaded_model.score(X_test,y_test)*100 :.2f}%');

loaded model acccuracy:86.89%