<a href="https://colab.research.google.com/github/RMLAI/AIPND-Exercises/blob/master/Visualization_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# changing the working directory
cd drive/My Drive/Data

/content/drive/My Drive/Data

In [3]:
#checking the contents of the folder
!ls

Advertising.csv  covid_19_india.csv  Hitters_X_test.csv   Khan_ytrain.csv
Auto.csv	 Credit.csv	     Hitters_X_train.csv  NCI60_X.csv
Boston.csv	 Default.xlsx	     Hitters_y_test.csv   NCI60_y.csv
Caravan.csv	 dog-photo.png	     Hitters_y_train.csv  panda.png
car-photo.png	 Heart.csv	     Khan_xtest.csv	  Smarket.csv
car-sales.csv	 heart-disease.csv   Khan_xtrain.csv	  USArrests.csv
Carseats.csv	 Hitters.csv	     Khan_ytest.csv	  Wage.csv

In [0]:
#reading data from csv file
df=pd.read_csv('covid_19_india.csv')

In [5]:
#checking the dataframe
df.head()

   Sno      Date     Time  ... Cured Deaths Confirmed
0    1  30/01/20  6:00 PM  ...     0      0         1
1    2  31/01/20  6:00 PM  ...     0      0         1
2    3  01/02/20  6:00 PM  ...     0      0         2
3    4  02/02/20  6:00 PM  ...     0      0         3
4    5  03/02/20  6:00 PM  ...     0      0         3

[5 rows x 9 columns]

In [0]:
# creating subset with only latest data
df1=df[df["Date"]=='30/03/20']

In [12]:
df1.head()

     Sno      Date      Time  ... Cured Deaths Confirmed
473  474  30/03/20  10:30 AM  ...     1      0        19
474  475  30/03/20  10:30 AM  ...     0      0         9
475  476  30/03/20  10:30 AM  ...     0      1        11
476  477  30/03/20  10:30 AM  ...     0      0         8
477  478  30/03/20  10:30 AM  ...     0      0         7

[5 rows x 9 columns]

In [14]:
df1

     Sno      Date      Time  ... Cured Deaths Confirmed
473  474  30/03/20  10:30 AM  ...     1      0        19
474  475  30/03/20  10:30 AM  ...     0      0         9
475  476  30/03/20  10:30 AM  ...     0      1        11
476  477  30/03/20  10:30 AM  ...     0      0         8
477  478  30/03/20  10:30 AM  ...     0      0         7
478  479  30/03/20  10:30 AM  ...     6      2        53
479  480  30/03/20  10:30 AM  ...     0      0         5
480  481  30/03/20  10:30 AM  ...     1      5        58
481  482  30/03/20  10:30 AM  ...    17      0        33
482  483  30/03/20  10:30 AM  ...     0      1         3
483  484  30/03/20  10:30 AM  ...     1      2        31
484  485  30/03/20  10:30 AM  ...     5      3        80
485  486  30/03/20  10:30 AM  ...    19      1       194
486  487  30/03/20  10:30 AM  ...     3      0        13
487  488  30/03/20  10:30 AM  ...     0      2        33
488  489  30/03/20  10:30 AM  ...    25      8       193
489  490  30/03/20  10:30 AM  ...     0      0         1
490  491  30/03/20  10:30 AM  ...     0      0         1
491  492  30/03/20  10:30 AM  ...     0      0         3
492  493  30/03/20  10:30 AM  ...     0      0         1
493  494  30/03/20  10:30 AM  ...     1      1        38
494  495  30/03/20  10:30 AM  ...     3      0        57
495  496  30/03/20  10:30 AM  ...     4      1        50
496  497  30/03/20  10:30 AM  ...     1      1        69
497  498  30/03/20  10:30 AM  ...     2      0         7
498  499  30/03/20  10:30 AM  ...    11      0        75
499  500  30/03/20  10:30 AM  ...     0      1        19

[27 rows x 9 columns]

In [16]:
df1.describe()

              Sno      Cured     Deaths   Confirmed
count   27.000000  27.000000  27.000000   27.000000
mean   487.000000   3.703704   1.074074   39.666667
std      7.937254   6.591456   1.817139   50.761130
min    474.000000   0.000000   0.000000    1.000000
25%    480.500000   0.000000   0.000000    7.000000
50%    487.000000   1.000000   0.000000   19.000000
75%    493.500000   3.500000   1.000000   55.000000
max    500.000000  25.000000   8.000000  194.000000

In [0]:
import plotly.graph_objects as go

x = ['Product A', 'Product B', 'Product C']
y = [20, 14, 23]

# Use textposition='auto' for direct text
fig = go.Figure(data=[go.Bar(
            x=x, y=y,
            text=y,
            textposition='auto',
        )])

fig.show()

In [17]:
import plotly.graph_objects as go
x=df1['State/UnionTerritory']
y=df1['Confirmed']
# Use textposition='auto' for direct text
fig = go.Figure(data=[go.Bar(
            x=x, y=y,
            text=y,
            textposition='auto',
        )])

fig.show()